<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js"></script>
    <style>
        [v-cloak] {
            color: red;
        }
    </style>
</head>
    
<body>
    <div id="app">
        <div v-if="isLogin">
            {{msg}}
        </div>
        <div v-else>
            {{msg2}}
        </div>
        <div v-show="isLogin">
            {{msg}}
        </div>
        <ul class="news">
            <li class="item" v-for="(item,index) in news" :key="index">{{item.title}}</li>
        </ul>
        <span>{{msg}}</span> - <span v-text="msg">{{msg2}}</span> - <span v-html="msg3"></span>
        <div class="count">
            本次得分: {{count}}
            <button @click="add">+</button>
            <button v-on:click="reduce">-</button>
        </div>
        <div class="message">
            <p>content:{{message}}</p>
            <p><input type="text" v-model="message"></p>
        </div>
        <div :class="className">
            <img v-bind:src="imgUrl" alt="">
        </div>
        <div v-pre>{{preContent}}</div>
        <div v-cloak>{{preContent}}</div>
        <div>
            <p v-once>第一次绑定的值:{{preContent}}</p>
            <input type="text" v-model="preContent">
        </div>
    </div>
    <script>
        // let dom = document.getElementById('app')
        // setTimeout(() => {
        //     dom.innerHTML = '你好'
        // }, 1000);
        let app = new Vue({
            el: '#app',
            data: {
                msg: 'hello word',
                msg2: '你好',
                msg3: '<h2>hi vue</h2>',
                count: 12,
                message: 'aaaa',
                imgUrl: 'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1606301003530&di=e3c0d72aeef0df6cb6925392f9505126&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201809%2F10%2F20180910195420_hoymh.png',
                isLogin: true,
                className: 'img',
                news: [
                    { title: '"空降"不到一周 韩俊任吉林代省长 曾是刘鹤"副手"' },
                    { title: '上门女婿成村霸，敲诈勒索故意纵火还打伤司法人员' },
                    { title: 'X光显示肚子内有异物 港媒:黄之锋被关医院单人囚室' },
                    { title: '特朗普突然出手，举行了史上最短一次记者会！' }
                ],
                preContent: '哈哈'
            },
            created() {
                this.msg = 'hello lz'
            },
            methods: {
                add() {
                    this.count+= 1
                },
                reduce() {
                    this.count-= 1
                }
            }
        })

    </script>
</body>

</html>